name: Build TypeScript definitions

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - run: npm ci
      - run: npm run build
      - name: commit
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: 'chore: update type definitions [skip ci]'
          commit_author: GitHub Actions <actions@github.com>
